<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Weather App </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{home}}">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{about}}" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{help}}" href="/help">Help</a>
                </li>
            </ul>
            <button type="button" class="btn btn-outline-danger">Sign In</button>
        
        </div>

    </div>
</nav>